<section class="creditos">
    <div class="persona">
        <img class="persona__imagen" src="~/img/yo.jpg" alt="Tobias Zaselsky">
        <h3 class="persona__titulo">Tobias Zaselsky</h3>
    </div>

    <a href="https://www.instagram.com/reifutnico/"><div class="persona">
        <img class="persona__imagen" src="~/img/reifu.jpg" alt="Nicolas Reifut">
        <h3 class="persona__titulo">Nicolas Reifut</h3>
    </div></a>

    <div class="persona">
        <img class="persona__imagen" src="~/img/van.jpg" alt="Ivan Latascheff">
        <h3 class="persona__titulo">Ivan Latascheff</h3>
    </div>
</section>

<div class="gracias">
    <h3 class="gracias__titulo">Muchas Gracias por Jugar!!</h3>
</div>