<section class="historia">
    <h2 class="historia__titulo">Historia</h2>

    <p class="historia__parrafo">Dentro de un misterioso recinto, te encuentras en una situación inesperada. Las paredes desnudas y el aire cargado de incertidumbre te rodean mientras te preguntas cómo llegaste a este lugar. El eco de tus propios pasos se pierde en el vacío, reflejando la soledad que has experimentado en tu estadía en el Paris Saint-Germain.</p>

    <p class="historia__parrafo">La sala en la que te encuentras es un laberinto de emociones y desafíos. Es una representación simbólica de tus experiencias en el club parisino, una estancia triste y dificultosa que te ha llevado a buscar la libertad y la posibilidad de jugar en otro equipo.</p>

    <p class="historia__parrafo">Las luces parpadeantes iluminan el camino que debes recorrer para encontrar una salida. No sabes qué te espera en cada rincón, pero sientes que debes enfrentar los desafíos que se avecinan para poder liberarte de tus ataduras.</p>

    <p class="historia__parrafo">Cada paso que das en esta sala de escape es un paso más hacia la libertad. El objetivo es claro; escapar de la opresión que has sentido y encontrar un nuevo hogar donde puedas expresar tu talento y ser verdaderamente feliz. A medida que te adentras en las distintas estancias, estarás obligado a superar obstáculos que representan los momentos difíciles y los altibajos que has experimentado en tu trayectoria con el PSG.</p>

    <p class="historia__parrafo">Tu determinación crece a medida que avanzas, recordando tus logros y tu pasión por el fútbol. Cada desafío que superas te acerca un poco más a la anhelada libertad, al final de este viaje que simboliza tu paso en el club parisino. El escape se convierte en una metáfora de tu travesía, donde la superación personal y la determinación son tus mejores aliados.</p>

    <p class="historia__parrafo">Ahora, te encuentras al inicio de esta sala de escape, listo para enfrentar los desafíos que te aguardan. ¿Podrás superarlos y alcanzar la libertad que tanto anhelas? Solo el tiempo y tu determinación lo dirán. Adelante, Lio, el camino hacia tu destino está por comenzar.</p>
</section>