@{
    ViewData["Title"] = "Index";
}

<div class="body">

<section class="inicio"> 

    <a href='@Url.Action("Historia")'><div class="inicio__seccion">
        <h2 class="inicio__titulo">Historia</h2>
        <img src="~/img/historia.png" alt="Historia" class="inicio__img">
    </div></a>

    <a href='@Url.Action("Sala1")'><button class="inicio__boton">Empezar juego</button></a>

    <a href='@Url.Action("Creditos")'><div class="inicio__seccion">
        <h2 class="inicio__titulo">Creditos</h2>
        <img src="~/img/creditos.webp" alt="alt" class="inicio__img">
    </div></a>
</section>
</div>
