@{
    ViewData["Title"] = "Index";
}

<div class="body">
<nav>
    <ul class="menu">
        <a href=""><li class="menu__item">Historia</li></a>
        <a href=""><li class="menu__item">Tutorial</li></a>
        <a href=""><li class="menu__item">Creditos</li></a>
    </ul>
</nav>

<section> 
    <a href='@Url.Action("Sala1")'><button class="inicio__boton">Empezar juego</button></a>
</section>
</div>
