<section class="sala" id="sala3-sinLlave">
    <a href='@Url.Action("Sala3Des")'><div class="puerta"></div></a>

        <i class="fa-solid fa-circle-question boton-pista"></i>
        <div class="pista invisible">
                @ViewBag.Pista
        </div>
</section>