<section class="sala" id="sala1">
    <a href='@Url.Action("Sala2")'><img src="~/img/flecha.png" alt="" class="flecha"></a>
    <button><i class="fa-solid fa-circle-question boton-pista"></i></button>
    <div class="pista">
        asdasdasdad
    </div>
</section>