<section class="sala" id="sala2-block">
    <a href="#"><div class="pizarron" id="pizarron"></div></a>
    <div class="filler"></div>
    <div id="pad" class="pad invisible">
        <i id="x" class="fa-sharp fa-solid fa-circle-xmark"></i>
        <form class="pad__form" action='@Url.Action("respuestaSala2")' >
            <input type="text" class="pad__texto" name="respuesta1" autocomplete="off">

            <div class="pad__botones">
                <input type="submit" class="pad__boton" value="✔️">
                <input type="button" class="pad__boton" value="❌">
            </div>
        </form>
    </div>
    <i class="fa-solid fa-circle-question boton-pista"></i>
    <div class="pista invisible">
        @ViewBag.pista
    </div>
</section>
<script src="~/js/sala2.js"></script>