<section class="sala" id="sala2">
        <a href='@Url.Action("Sala3")'><img src="~/img/flechaAd.png" alt="" class="flecha flechaAd"></a>

        <i class="fa-solid fa-circle-question boton-pista"></i>
        <div class="pista invisible">
                @ViewBag.Pista
        </div>
</section>
<script src="~/js/sala2.js"></script>