<section class="sala" id="sala4Des">

    <a href='@Url.Action("Sala5")'><img src="~/img/flechaIz.png" alt="" class="flecha flechaIz"></a>
    <i class="fa-solid fa-circle-question boton-pista"></i>
        <div class="pista invisible">
                @ViewBag.pista
        </div>
</section>