<section class="sala" id="sala2-block">
    <a href="#"><div class="pizarron" id="pizarron"></div></a>
    <div class="filler"></div>
    <div id="pad" class="invisible">
        <form class="pad__form" action='@Url.Action("respuestaSala2")' >
            <input type="text" class="pad__texto" name="respuesta1">
            <input type="submit" class="pad__boton" value="Enviar Respuesta">
        </form>
    </div>
</section>