<section class="sala" id="sala1">
    <a href='@Url.Action("Sala2Des")'><img src="~/img/flecha.png" alt="" class="flecha"></a>
    <i class="fa-solid fa-circle-question boton-pista"></i>
    <div class="pista invisible">
        @ViewBag.pista
    </div>
</section>