<section class="sala" id="sala4" >
        <div id="pad4"></div>
        <div id="pad" class="pad invisible">
            <i id="x" class="fa-sharp fa-solid fa-circle-xmark"></i>
            <form class="pad__form" action='@Url.Action("respuesta4")' >
                <input type="number" class="pad__texto" name="respuesta">
                <input type="submit" class="pad__boton" value="Enviar Respuesta">
            </form>
        </div>

        <i class="fa-solid fa-circle-question boton-pista"></i>
        <div class="pista invisible">
                asas
        </div>                

</section>

<script src="~/js/sala4.js"></script>