  html {
    font-size: 62.5%;
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.inicio{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,67,67,1) 0%, rgba(111,27,27,1) 90% );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.inicio__boton{
  width: 30rem;
  height: 8rem;
  text-align: center;
  background-color: #f4f4f4;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 10px;
}

.sala{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sala1{
  background-image: url("../img/sala-base.PNG");

}

#sala2{
  background-image: url("../img/sala2.PNG");
}

#sala2-block{
  background-image: url("../img/sala2-bloquead.png");
    display: block;

}

.sala3-prendida{
  background-image: url("../img/sala3.png");
}

.sala3-oscura{
  background-image: url("../img/sala3Oscura.png");
}

#sala3-des{
  background-image: url("../img/sala3Des.png");
}

#sala3-sinLlave{
  background-image: url("../img/sala3SinLLave.png");

}

.flecha{
  position: absolute;
  top: 47rem;
  right: 3rem;
  cursor: pointer;
  width: 20rem;
  height: 20rem;
}

.flechaAd{
  right: 42.6%;
  top: 40rem;
  width: 30rem;
  height: 30rem;
}

.boton-pista{
  position: absolute;
  top: 87rem;
  right: 2rem;
  font-size: 6.6rem;
  color: #D1BECF;
  cursor: pointer;
  transition: all 1s ease-in;
}

.pista-visible{
  font-size: 3rem;
}

.pizarron{
  width: 17rem;
  height: 21rem;
  position: absolute;
  top: 38rem;
  right: 0;
}

.filler{
  width: 100%;
  height: 7rem;

}

#pad{
  height: 60%;
  width: 30%;
  margin: auto;
  background-color: #E1BB80;
  border-radius: 2rem;
  margin-top: 1rem;
  align-self: none;
  justify-self: normal;
}

.pad__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.pad__texto{
  padding: 2rem;
}

.pista{
  background-color: #D1BECF;
  padding: 5rem;
  font-size: 3rem;
  z-index: 10;
}

.invisible{
  display: none;
  opacity: 0;
}

.puerta{
  width: 26rem;
  height: 47rem;
  border-radius: 5px;
  right: 44%;
  position: absolute;
  top: 10rem;
}

.visible{
  display: block;
  opacity: 1;
}

#llave{
  position: absolute;
  width: 5rem;
  height: 3rem;
  bottom: 23%;
  left: 20rem;
  cursor: pointer;
}