  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
  
  html {
    font-size: 62.5%;
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Roboto', sans-serif;
}

.inicio{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,67,67,1) 0%, rgba(111,27,27,1) 90% );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.inicio__boton{
  width: 30rem;
  height: 8rem;
  text-align: center;
  background-color: #f4f4f4;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 10px;
}

.sala{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sala1{
  background-image: url("../img/sala-base.PNG");

}

#sala2{
  background-image: url("../img/sala2.PNG");
}

#sala2-block{
  background-image: url("../img/sala2-bloquead.png");
    display: block;

}

.sala3-prendida{
  background-image: url("../img/sala3.png");
}

.sala3-oscura{
  background-image: url("../img/sala3Oscura.png");
}

#sala3-des{
  background-image: url("../img/sala3Des.png");
}

#sala3-sinLlave{
  background-image: url("../img/sala3SinLLave.png");
}

#sala4{
  background-image: url("../img/sala4.png");
}

#sala4Des{
  background-image: url("../img/sala4Des.png");
}

#sala5{
  background-image: url("../img/Sala5.PNG");
}

.flecha{
  position: absolute;
  top: 47rem;
  right: 3rem;
  cursor: pointer;
  width: 20rem;
  height: 20rem;
}

.flechaAd{
  right: 42.6%;
  top: 40rem;
  width: 30rem;
  height: 30rem;
}

.flechaIz{
  left: 5rem;
  top: 45%;
}

.boton-pista{
  position: absolute;
  top: 87rem;
  right: 2rem;
  font-size: 6.6rem;
  color: #D1BECF;
  cursor: pointer;
  transition: all 1s ease-in;
}

.pista-visible{
  font-size: 3rem;
}

.pizarron{
  width: 17rem;
  height: 21rem;
  position: absolute;
  top: 38rem;
  right: 0;
}

.filler{
  width: 100%;
  height: 7rem;

}

#pad{
  height: 60%;
  width: 30%;
  margin: auto;
  background-color: #CED4DA;
  border-radius: 2rem;
  margin-top: 1rem;
  align-self: none;
  justify-self: normal;
  position: relative;
}

.pad__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.pad__texto{
  padding: 0 2rem;
  font-size: 4rem;
  width: 80%;
  outline: none;
  border-radius: 5px;
  letter-spacing: 3rem;
  text-align: center;
}

.pad__boton:not(:last-child){
  margin-right: 3rem;
}

.pad__boton{
  font-size: 3.5rem;
  padding: 4px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  
}

.pista{
  background-color: #D1BECF;
  padding: 5rem;
  font-size: 3rem;
  z-index: 10;
}

.invisible{
  display: none;
  opacity: 0;
}

.puerta{
  width: 26rem;
  height: 47rem;
  border-radius: 5px;
  right: 44%;
  position: absolute;
  top: 10rem;
}

.visible{
  display: block;
  opacity: 1;
}

.visiblePista{
  display: inline-block;
  opacity: 1;
}

#llave{
  position: absolute;
  width: 5rem;
  height: 3rem;
  bottom: 23%;
  left: 20rem;
  cursor: pointer;
}

#pad4{
  width: 6rem;
  height: 10rem;
  cursor: pointer;
  position: absolute;
  left: 14rem;
  top: 38.5%;
}

.fa-circle-xmark{
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.menu{
  display: flex;
  background-color: aquamarine;
  list-style: none;
  padding: 1rem;
  font-size: 3rem;
}